/* add all CSS here! */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --main: rgb(66,145,152);
  --secondary: rgb(120,199,227);
}

main {
  font-family: "Inter", sans-serif;
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

/* APP.JSX */
.title{ 
  display: flex;
  align-items: center;
  margin: 0;
  background-color: var(--main);
  color: rgb(255,255,255);
  height: 100px;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding-left: 100px;
}

.main-paragraph {
  margin: 0;
}

a {
  text-decoration: none;
}

.info-container {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
}

img {
  width: 400px;
}

.see {
  background-color: var(--main);
  color: rgb(255,255,255);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 145px;
  height: 40px;
  border-radius: 7px;
  border: none;
}

.main-container {
  display: flex;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
}

/*SEEINFO.JSX*/

#chart-container {
  width: 80%;
  height: 100%;
  margin-left: 100px;
}

.temp-msg {
  color: var(--secondary);
  text-align: center;
  margin-top: 100px;
}

span.caption{
  color: var(--main);
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.sub-container {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
  margin-right: 100px;
}

.charts {
  width: 100%;
}

.month-year-picker {
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  #chart-container {
    width: 75%;
    height: 95%;
  }
}




/*Tablet*/
@media screen and (max-width: 900px){

   .title {
    justify-content: center;
    text-align: center;
    padding-left: 0px;
  }
  
  main {
    display: flex;
    flex-direction: column-reverse;
  }

  .figure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 100%;
  }

  figcaption {
    margin: 10px 0px 40px 0px;
  }
  
  .sub-container-data {
    width: 70%;
  }
  
  .main-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .sub-container {
    display: flex;
    align-items: center;
    margin-right: 0px;
    width: 100%;
  }

  .charts {
    width: 80%;
  }

}